$spotify-green: rgb(132, 189, 0);
$spotify-black: rgb(0, 0, 0);
$spotify-grey: rgb(130, 130, 130);
$spotify-sand: rgb(236, 235, 232);
$spotify-white: rgb(255, 255, 255);

body{
  border-top: 3px solid $spotify-green;
}

h3 {
  text-align: center;
  color: $spotify-grey;
}

.left-bar {
  background-color: $spotify-black;
  clear: both;
  float: left;
}

.user-info {
  padding: 15px;
  margin: 30px 15px 0 15px;
  background-color: white;
}

.user-info img{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
  border: 3px solid $spotify-green;
}

.p-pic{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

.p_title{
  font-size: 30px;
  text-transform: uppercase;
  color: $spotify-green
}

.playlists {
  padding: 20px 20px;
}

.stuff span{
  float: left;
}

.stuff{
  background-color: $spotify-grey;
  display: block;
  margin: 15px;
}

.stuff ul {
  list-style: none;
}

.stuff ul li {
  margin-bottom: 2px;
  margin-left: 20px;
}

.stuff ul li a {
  text-decoration: none;
  color: $spotify-sand;
}

.stuff ul li a:hover{
  color: $spotify-green;
}



